* {
  font-size: 1.2em;
  margin: 0;
}

body {
  background-color: rgb(208, 218, 208);
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #fff;
  padding: 0.5em;
}

.nav-link {
  border: 0.2em solid green;
  padding: 0.2em;
}

.nav-link:hover {
  background-color: green;
  color: #fff;
}
